@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-bg text-fg [&_path]:stroke-fg;
  cursor: url("/cursors/cursor.svg"), auto;
  a,
  #envelope,
  button,
  input {
    cursor: url("/cursors/pointer.svg"), auto;
  }
}

.animate-draw {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: animate-draw 500ms linear forwards;
  &:nth-child(2) {
    animation-delay: 200ms;
  }
}

.animate-draw-long {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: animate-draw 300ms ease-in-out forwards;
}

@keyframes animate-draw {
  to {
    stroke-dashoffset: 0;
  }
}
